@tailwind base;
@tailwind components;
@tailwind utilities;



/* Add this to your global styles or a CSS module */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    z-index: 1;
   }
   